root = true

[*]
end_of_line = lf
insert_final_newline = true

# Change tab size for github display
# From StackOverflow: https://stackoverflow.com/questions/8833953/how-to-change-tab-size-on-github/23522945#23522945
[*.{txt,d,xml,jasl}]
charset = utf-8
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
